.red {
    background-color: #ff0000;
}

.orange {
    background-color: #ff6600;
}

.yellow {
    background-color: #ffff00;
}

.green {
    background-color: #33cc33;
}

.blue {
    background-color: #0066ff;
}

.purple {
    background-color: #cc66ff;
}

.pink {
    background-color: #ff66a3;
}

.pastelBlue {
    background-color: #66b3ff;
}











































div {
    width:100px;
    height:100px;
    border: 1px solid black;
    float:left;
    padding: 1px;
    text-align:center;
}